<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="AppFrameDotNet" value="https://artifactory-extern.dataport.de/artifactory/api/nuget/AppFrameDotNet-NuGet-master" />
  </packageSources>
</configuration>