<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="AppFrameDotNet" value="https://tfs.dataport.de/tfs/CCSE/_packaging/AppFrameDotNet_Release/nuget/v3/index.json" />
  </packageSources>
</configuration>