<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="String" value="Hallo" />
    <add key="StringEmpty" value="" />
    <add key="StringOhneWert" />
    <add key="Bool" value="true" />
    <add key="BoolEmpty" value="" />
    <add key="BoolNichtKonvertierbar" value="Istkeinbool" />
    <add key="BoolOhneWert" />
  </appSettings>
</configuration>